article h1 {
  font-size: 48pt;
  margin: 0px;
  text-shadow: 4px 4px #aaa;
}
body {
  background-color: #efeffd;
}
article.html h1{
  border-left: 28px solid red;
}
article.css h1{
  border-left: 28px solid blue;
}
article pre {
  background-color: #ffddff
}
article pre.html {
  border-left: 5px solid red;
}
article pre.css {
  border-left: 5px solid blue;
}
iframe {
  background-color: white;
  border-width: thick;
}
